.dropdown {
    display: flex;

    &__toggle {
        display: flex;
    }

    &__icon {
        display: flex;
        align-self: center;
    }

    &__body {
        visibility: hidden;
        opacity: 0;
    }
}
