.nav {
    display: flex;
    align-items: baseline;
}

.nav._vertical {
    flex-direction: column;
    align-items: start;
}

.nav._margin-bottom-s {
    margin-bottom: 8px;
}

.nav._margin-bottom-m {
    margin-bottom: 12px;
}

.nav._height-m {
    height: 20px;
}

.nav__item {
    display: flex;
}

.nav__item._right {
    margin-left: auto;
}

/* Header nav section */
.nav__item._header+.nav__item._header {
    margin-left: 6px;
}

.nav__header-link {
    padding: 6px;
}

/* Search categories nav section */
.nav__item._search {
    display: flex;
    align-items: center;
}
.nav__item._search+.nav__item._search {
    margin-left: 24px;
}

.nav__search-category-link {
    line-height: 20px;
}

/* Projects nav section */
.nav__item._project {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 38px;
    text-decoration: none;
}

.nav__project-icon {
    margin-right: 10px;
}

/* Tabbed nav section */
.nav__item._tab {
    padding: 0 10px;
    height: 27px;
}

.nav__item._tab:first-child {
    padding-left: 0;
}

/* News nav section */
.nav__item._news+.nav__item._news {
}

