.nav {
    display: flex;
    align-items: baseline;

    &._vertical {
        flex-direction: column;
        align-items: start;
    }

    &._margin-top-m {
        margin-top: 12px;
    }

    &._margin-top-l {
        margin-top: 18px;
    }

    &._margin-bottom-s {
        margin-bottom: 8px;
    }

    &._margin-bottom-m {
        margin-bottom: 12px;
    }

    &._margin-bottom-l {
        margin-bottom: 40px;
    }

    &._margin-right-l {
        margin-right: 200px;
    }

    &._height-m {
        height: 20px;
    }

    &__main-news-image {
        margin-right: 20px;
        height: 90px;
        width: 120px;
    }

    &._search-categories {
        border-bottom: 1px solid #E0E0E0;
    }

    &__item {
        display: flex;

        &._right {
            margin-left: auto;
        }

        /* Header nav section */
        &._header+&._header {
            margin-left: 6px;
        }

        /* Search nav section */
        &._search {
            display: flex;
            align-items: center;
        }

        &._search+&._search {
            margin-left: 24px;
        }

        /* Projects nav section */
        &._project {
            display: flex;
            align-items: center;
            margin-top: 16px;
            margin-left: 38px;
            width: calc(100% - 20px);
            text-decoration: none;
            cursor: pointer;
        }

        /* Tabbed nav section */
        &._tab {
            height: 14px;
            padding: 0 10px 12px;
            &:first-child {
                padding-left: 0;
            }
        }

        /* News nav section */
        &._news,
        &._main_news {
            display: flex;
            align-items: center;
        }

        &._main_news {
            display: flex;
            flex-grow: 0;
            margin: 16px 0;
            text-decoration: none;
            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            }
        }

        &._news+&._news {
            margin-top: 15px;
        }

        &._y-news {
            list-style-type: none;
            margin-bottom: 10px;
            &:before {
                content: '•';
                margin-right: 10px;
                font-size: 14px;
                line-height:14px;
                vertical-align:middle;
            }
        }

        /* Games section */
        &._games+&._games {
            margin-left: 20px;
        }
    }
}


