// Main colors
@color-primary: #157CD3;
@color-primary-light: #6da2e1;
@color-secondary: black;
@color-pale: #A1A1A1;
@color-border: #E0E0E0;
@color-border-light: #EBEBEB;
@color-mr-highlight: #FF7726;
@color-y-highlight: #C00;
@color-success: limegreen;
@color-y-accent: #FFDA00;

// Buttons
// Mail.Ru
@color-mr-button-accent: #ffa930;
@color-mr-button-accent-dark: #ff9a0c;
@color-mr-button-primary: #168de2;
@color-mr-button-primary-dark: #137cc7;
// Yandex
@color-y-button-primary: #e8e8e8;
