.title-with-description {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;

    &._horizontal {
        flex-direction: row;
    }

    &._main-news {
        max-height: 80px;
        line-height: 20px;
    }

    &__title {
        &._text-s {
            font-size: @font-size-m;
        }

        &._text-m {
            font-size: @font-size-l;
        }

        &._currency-rate {
            padding: 0 6px;
        }

        /* Title colors */
        &._primary {
            color: @color-primary;
        }

        &._secondary {
            color: @color-secondary;
        }
    }

    &__description {
        &._text-s {
            font-size: @font-size-m;
        }

        /* Description colors */
        &._primary {
            color: @color-secondary;
        }

        &._secondary {
            color: @color-pale;
        }
    }
}
