.title-with-description {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.title-with-description__title,
.title-with-description__description {
    text-decoration: none;
}

.title-with-description__title {

}

.title-with-description__title._text-m {
    font-size: 15px;
}

/* Title colors */
.title-with-description__title._blue {
    color: #0070CF;
}

/*.title-with-description__title._black {*/

/*}*/

.title-with-description__description {

}

.title-with-description__description._text-s {
    font-size: 13px;
}

/* Description colors */

.title-with-description__description._gray {
    color: #A1A1A1;
}

.title-with-description__description._black {
    color: #5D5D5D;
}
